body {
	font-family: sans-serif;
	font-size: 12pt;
	background: #FFF;
	margin: 0 auto;
	padding-bottom: 50px;
}

.footer {
	position: fixed;
	bottom: 0px !important;
	height: 30px;
	width: 100%;
	margin: 0px auto;
	background-color: #DDD;
	font-size: 0.8em;
	text-align: center;
	padding-top: 10px;
}

.ccc-form {
	margin: 0 auto;
	padding: 20px;
	width: 670px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.ccc-form label {
	margin: 0px 0px 5px;
}

.ccc-form label span {
	display: inline-block;
	width: 100px;
	text-align: right;
	padding: 10px;
}

.ccc-form .input-wide {
	width: 520px;
}

.ccc-form button {
	float: right;
	background: #FFF;
	border: 1px solid #CCC;
	padding: 10px 25px 10px 25px;
	color: #333;
	border-radius: 4px;
}

.ccc-form button:hover {
	color: #333;
	background-color: #EBEBEB;
	border-color: #ADADAD;
}

.result {
	margin: 0 auto;
	width: 710px;
	padding: 20px 0;
}

.result table {
	width: 100%;
	border-collapse: collapse;
}

.result table, th, td {
	border: 1px solid #CCCCCC;
	padding: 5px;
}

.result td {
	text-align: right;
}
